# Rust
/target/
**/*.rs.bk

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Android NDK generated libs (since we use cargo ndk)
/android/app/src/main/jniLibs/
android/build/reports/problems/
android/app/build/
